* {
  box-sizing: border-box;
}


/* 50% for two images in one row, 25% for 4 20% for 5 images */
.column {
  float: left;
  width: 33.3%;
  height: 33.3%;
}

.row {
  width: 480px;
  height: 480px;
}

/* Clearfix (clear floats) */
/* .row::after {
  content: "";
  clear: both;
  display: table;
} */

.wrapper {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

#original {
  width: 480px;
  height: 480px;
}


/* 240px for 4 pieces, 160 for 9, 120px for 16, 96px for 25 */
.sliced {
  width: 160px;
  height: 160px;
}