* {
  box-sizing: border-box;
}


/* 3- 50% for two images in one row, 25% for 4 20% for 5 images */
.column {
  float: left;
}

#right {
  width: 480px;
  height: 480px;
}

/* Clearfix (clear floats) */
/* #right::after {
  content: "";
  clear: both;
  display: table;
} */

.wrapper {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

#original {
  width: 480px;
  height: 480px;
}


/*DONE:2- 240px for 4 pieces, 160 for 9, 120px for 16, 96px for 25 */
/* .sliced {
  width: 120px;
  height: 120px;
} */